POSTGRES_USER=user
POSTGRES_DB=db_api
POSTGRES_PASSWORD=123
POSTGRES_HOST=db

POSTGRES_USER_TEST=user_test
POSTGRES_DB_TEST=db_api_test
POSTGRES_PASSWORD_TEST=123
POSTGRES_HOST_TEST=db_test

MODE=TEST